#custommenu {
    position:relative;
    font-size: 14px;
    margin: 0 auto;
    width: 767px;
    z-index: 999;
    right: 80px;
    top:5px;
}
div.menu {
    float: left;
}
div.menu.act {
    background-color: none;
}
div.menu.act a {
    color:#3E4EAB;
    font-weight:bold;
    border-bottom: 1px solid #cccccc;
}
div.menu.active {
    background-color: #3E4EAB;
}

div.menu.active a{
    color:white;
}

div.wp-custom-menu-popup {
    position:absolute;
    z-index:3000;
    border:1px solid #3E4EAB;
    border-top-right-radius:1em;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    border-bottom-left-radius:1em;
    display: none;
    background-color:#fff;
    text-align:left;
}

div.wp-custom-menu-popup a.itemMenuName.level1 span{
    font-family:'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight:bold;
}

div.wp-custom-menu-popup a.itemMenuName.level1 span:hover{
    color:#0A1F70;
}

div.menu, div.wp-custom-menu-popup {
    padding: 5px 12px 6px 8px;
}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
}
div.wp-custom-menu-popup a.actParent {
    color: #4D4D4D;
}
div.wp-custom-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:200px; /* column width */
    padding:5px;
}
div.itemSubMenu {
    margin-left:0px;
}
div.itemSubMenu a {
    color:gray;
    font-size:13px;
    font-family:'Droid Sans', sans-serif;
}

div.itemSubMenu a:hover {
    color:black;
}


.clearBoth {
    clear:both;
}
#custommenu.rtl .menu {
    float: right;
}
#custommenu.rtl div.column {
    text-align: right;
}
